/*=== COLORES === */
/*=== colores tomados de : https://flatuicolors.com/ === */
/*=== Tonos verdes === */
/*=== Tonos verdes alternativos === */
/*=== Tonos azules === */
/*=== Tonos azules oscuros alternativo === */
/*=== Tonos violetas === */
/*=== Tonos amarillo y naranja === */
/*=== Tonos naranja === */
/*=== Tonos rojos === */
/*=== Tonos gris claro === */
/*=== Tonos gris oscuro alternativo === */
/*=== COLORES === */
.block-height {
  margin: 1em 0em; }

.container {
  margin: 0 auto;
  width: 75%; }

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%; }

/* Alinear elementos horizontales
 */
.justify-cont-start {
  justify-content: flex-start; }

.justify-cont-end {
  justify-content: flex-end; }

.justify-cont-center {
  justify-content: center; }

.justify-cont-between {
  justify-content: space-between; }

.justify-cont-around {
  justify-content: space-around; }

/* Equipos en adelante
 */
@media (min-width: 1024px) {
  .container {
    width: 75%; }

  .lg-1 {
    width: 8.33333%;
    padding: 0em 1.5em; }

  .lg-2 {
    width: 16.66667%;
    padding: 0em 1.5em; }

  .lg-3 {
    width: 25%;
    padding: 0em 1.5em; }

  .lg-4 {
    width: 33.33333%;
    padding: 0em 1.5em; }

  .lg-5 {
    width: 41.66667%;
    padding: 0em 1.5em; }

  .lg-6 {
    width: 50%;
    padding: 0em 1.5em; }

  .lg-7 {
    width: 58.33333%;
    padding: 0em 1.5em; }

  .lg-8 {
    width: 66.66667%;
    padding: 0em 1.5em; }

  .lg-9 {
    width: 75%;
    padding: 0em 1.5em; }

  .lg-10 {
    width: 83.33333%;
    padding: 0em 1.5em; }

  .lg-11 {
    width: 91.66667%;
    padding: 0em 1.5em; }

  .lg-12 {
    width: 100%;
    padding: 0em 1.5em; }

  .lg-push-1 {
    margin-left: 8.33333%; }

  .lg-push-2 {
    margin-left: 16.66667%; }

  .lg-push-3 {
    margin-left: 25%; }

  .lg-push-4 {
    margin-left: 33.33333%; }

  .lg-push-5 {
    margin-left: 41.66667%; }

  .lg-push-6 {
    margin-left: 50%; }

  .lg-push-7 {
    margin-left: 58.33333%; }

  .lg-push-8 {
    margin-left: 66.66667%; }

  .lg-push-9 {
    margin-left: 75%; }

  .lg-push-10 {
    margin-left: 83.33333%; }

  .lg-push-11 {
    margin-left: 91.66667%; }

  .lg-push-12 {
    margin-left: 100%; } }
/* Tablets
 */
@media (min-width: 769px) and (max-width: 1023px) {
  .container {
    width: 95%; }

  .md-1 {
    width: 8.33333%;
    padding: 0em 1.5em; }

  .md-2 {
    width: 16.66667%;
    padding: 0em 1.5em; }

  .md-3 {
    width: 25%;
    padding: 0em 1.5em; }

  .md-4 {
    width: 33.33333%;
    padding: 0em 1.5em; }

  .md-5 {
    width: 41.66667%;
    padding: 0em 1.5em; }

  .md-6 {
    width: 50%;
    padding: 0em 1.5em; }

  .md-7 {
    width: 58.33333%;
    padding: 0em 1.5em; }

  .md-8 {
    width: 66.66667%;
    padding: 0em 1.5em; }

  .md-9 {
    width: 75%;
    padding: 0em 1.5em; }

  .md-10 {
    width: 83.33333%;
    padding: 0em 1.5em; }

  .md-11 {
    width: 91.66667%;
    padding: 0em 1.5em; }

  .md-12 {
    width: 100%;
    padding: 0em 1.5em; }

  .md-push-1 {
    margin-left: 8.33333%; }

  .md-push-2 {
    margin-left: 16.66667%; }

  .md-push-3 {
    margin-left: 25%; }

  .md-push-4 {
    margin-left: 33.33333%; }

  .md-push-5 {
    margin-left: 41.66667%; }

  .md-push-6 {
    margin-left: 50%; }

  .md-push-7 {
    margin-left: 58.33333%; }

  .md-push-8 {
    margin-left: 66.66667%; }

  .md-push-9 {
    margin-left: 75%; }

  .md-push-10 {
    margin-left: 83.33333%; }

  .md-push-11 {
    margin-left: 91.66667%; }

  .md-push-12 {
    margin-left: 100%; } }
/* Smartphone
 */
@media (min-width: 320px) and (max-width: 768px) {
  .container {
    width: 95%; }

  .row {
    display: block; }

  .sm-1 {
    width: 8.33333%;
    padding: 0em 1.5em; }

  .sm-2 {
    width: 16.66667%;
    padding: 0em 1.5em; }

  .sm-3 {
    width: 25%;
    padding: 0em 1.5em; }

  .sm-4 {
    width: 33.33333%;
    padding: 0em 1.5em; }

  .sm-5 {
    width: 41.66667%;
    padding: 0em 1.5em; }

  .sm-6 {
    width: 50%;
    padding: 0em 1.5em; }

  .sm-7 {
    width: 58.33333%;
    padding: 0em 1.5em; }

  .sm-8 {
    width: 66.66667%;
    padding: 0em 1.5em; }

  .sm-9 {
    width: 75%;
    padding: 0em 1.5em; }

  .sm-10 {
    width: 83.33333%;
    padding: 0em 1.5em; }

  .sm-11 {
    width: 91.66667%;
    padding: 0em 1.5em; }

  .sm-12 {
    width: 100%;
    padding: 0em 1.5em; }

  .sm-push-1 {
    margin-left: 8.33333%; }

  .sm-push-2 {
    margin-left: 16.66667%; }

  .sm-push-3 {
    margin-left: 25%; }

  .sm-push-4 {
    margin-left: 33.33333%; }

  .sm-push-5 {
    margin-left: 41.66667%; }

  .sm-push-6 {
    margin-left: 50%; }

  .sm-push-7 {
    margin-left: 58.33333%; }

  .sm-push-8 {
    margin-left: 66.66667%; }

  .sm-push-9 {
    margin-left: 75%; }

  .sm-push-10 {
    margin-left: 83.33333%; }

  .sm-push-11 {
    margin-left: 91.66667%; }

  .sm-push-12 {
    margin-left: 100%; } }
header {
  background: #f2f2f2;
  border: 1px solid #f4f4f4;
  width: 100%; }

.brand {
  background: #a91818;
  border-radius: 50%;
  height: 60px;
  width: 60px; }

.menu {
  position: absolute; }

#menu {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  #menu ul {
    display: flex; }
    #menu ul a {
      display: block;
      padding: 15px 8px;
      text-decoration: none; }

@media (max-width: 768px) {
  #menu {
    display: block; }
    #menu ul {
      display: block;
      width: 100%; }
      #menu ul li {
        text-align: center;
        border-bottom: 1px solid rgba(199, 199, 199, 0.2);
        width: 100%; }
        #menu ul li a {
          padding: 15px 0px; }

  #nav-mobile {
    color: #333333;
    font-size: 1.4em;
    position: absolute;
    top: 0.7em;
    right: 1em; } }
@media (min-width: 769px) {
  #nav-mobile {
    display: none; } }
input {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  color: #4d4d4d;
  padding: 6px 8px;
  width: 100%; }

.label-input {
  margin: 1em 0em; }
  .label-input label {
    padding: 5px 8px; }
  .label-input .strong-label {
    font-weight: bold; }

.line-bottom {
  border: 0;
  border-bottom: 1px solid #e4e4e4;
  color: #4f1275;
  border-radius: 0; }
  .line-bottom:focus {
    border: 0;
    border-bottom: 1px solid #4f1275;
    outline: 0; }

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  color: #4f4f4f;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  height: 100vh;
  width: 100vw; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: "Roboto Slab", serif; }

ol,
ul {
  list-style: none; }

img,
video,
iframe {
  max-width: 100%; }

audio {
  border: 1px solid green; }

.wpraper {
  background: #16a085;
  color: #ecf0f1;
  height: 500px;
  padding: 1em 0em; }
  .wpraper ul {
    display: flex; }
    .wpraper ul li {
      border-bottom: 2px solid transparent;
      margin: 0em 1em;
      transition: all 1s; }
      .wpraper ul li:hover {
        border-bottom: 2px solid #ecf0f1; }
      .wpraper ul li a {
        color: #ecf0f1;
        text-decoration: none; }

.data-personal {
  display: flex;
  align-items: center;
  justify-content: center; }

.box-avatar {
  background: #ecf0f1;
  border-radius: 50%;
  height: 100px;
  width: 100px; }

/*# sourceMappingURL=main.css.map */
