@charset "UTF-8";
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Nunito", serif; }

header {
  background: #000;
  color: #ffffff;
  width: 100%;
  align-item: center; }

.logo img {
  background: red;
  border-radius: 50%;
  display: block;
  height: 50px;
  width: 50px; }

._heaer-container img {
  max-width: none; }

/* Men├║
 */
nav {
  width: 100%; }

ol, ul {
  list-style: none; }

/*.menu li:hover
 * background: #e74c3c */
.desktop-menu li > ul > li {
  border-bottom: 1px solid #292929; }

a {
  text-decoration: none; }

/* Sub Men├║
 */
li > ul {
  background: #191919;
  display: none;
  width: 14%;
  position: absolute;
  z-index: 9999; }

.open-item {
  background: #191919;
  position: absolute;
  z-index: 9999; }

/*li:hover > ul
 * background: #191919
 * display: block
 * position: absolute */
li.sub-menu {
  position: relative; }

li.sub-menu > ul {
  background: #191919;
  left: 100%;
  position: absolute;
  top: 0%;
  width: 100%; }

/*li.sub-menu:hover > ul
 * background: #191919
 * display: block
 * left: 100%
 * position: absolute
 * top: 0%
 * width: 100% */
._heaer-container {
  display: flex;
  margin: 0 auto;
  width: 75%; }

.desktop-menu {
  display: flex;
  justify-content: space-between;
  line-height: 36px; }

.menu,
.acount {
  display: flex; }

.menu a,
.acount a {
  display: block;
  color: #fff;
  padding: 10px 10px; }

/* Medidas de los sub items en diferentes resoluciones antes de pasar a m├│viles *
 */
@media (max-width: 1531px) {
  li > ul {
    width: 15%; } }
@media (max-width: 1225px) {
  li > ul {
    width: 19%; } }
/* Mayor ancho al contenedor para mejorar la visualizaci├│n* 
 */
@media (max-width: 1225px) {
  ._heaer-container {
    width: 95%; } }
/* Menu Responsive *
 */
@media (min-width: 992px) {
  .desktop-menu {
    display: flex !important; }

  .mobile-menu {
    display: none !important; }

  .shortcut-nav {
    display: none; } }
@media (max-width: 991px) {
  /*header
   * position: fixed
   * z-index: 9999
   * top: 0 */
  ._heaer-container {
    width: 90%; }

  .desktop-menu {
    background: #191919;
    bottom: 0;
    display: block;
    height: 100%;
    left: 100%;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50px;
    transition: 0.5s;
    z-index: 10;
    min-height: 100%; }

  .desktop-menu li {
    border-bottom: 1px solid #292929; }

  .mobile-menu {
    position: absolute;
    right: 15px;
    top: 14px; }

  .menu,
  .acount {
    display: block; }

  .show {
    background: #191919;
    bottom: 0;
    display: block;
    height: 100%;
    left: 20%;
    opacity: 1;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 10;
    min-height: 100%; }

  .open-item {
    background: #191919;
    display: block;
    position: relative; }

  /* Sub Men├║
   */
  li > ul {
    display: none;
    padding-left: 1em;
    width: 100%;
    position: relative; }

  /*li:hover > ul
   * background: #191919
   * display: block
   * position: relative */
  li.sub-menu {
    position: relative;
    width: 100%; }

  li.sub-menu > ul {
    background: #191919;
    position: relative;
    left: 0%;
    width: 100%; }

  /*li.sub-menu:hover > ul
   * background: #191919
   * display: block
   * left: 0
   * position: relative
   * top: 0
   * width: 100% */ }
.shortcut-nav {
  background: #f2f2f2;
  overflow: hidden;
  width: 100%; }
  .shortcut-nav li {
    border: 1px solid #e6e6e6;
    float: left;
    text-align: center;
    width: 20%; }
    .shortcut-nav li a i {
      padding: 15px 60px; }

.shortcut-active {
  color: #c1272d !important; }

.fa-home,
.fa-map-marker,
.icon-dice,
.fa-calendar,
.fa-picture-o,
.fa-user,
.fa-bars {
  color: #333333;
  font-size: 1.3em; }

.icon-dice {
  display: inline-block; }

.fa-user,
.fa-bars {
  color: #ffffff !important;
  font-size: 25px;
  margin: 0 0.4em; }

@media (max-width: 768px) {
  .shortcut-nav li a i {
    padding: 15px 15px; }

  .fa-home,
  .fa-map-marker,
  .icon-dice,
  .fa-calendar,
  .fa-picture-o {
    font-size: 1.3em; } }

/*# sourceMappingURL=navegacion.css.map */
