@mixin btn($background,$border,$color)
	background: $background
	border-radius: 4px
	border: 1px solid $border
	color: $color
	cursor: pointer
	font-size: 16px
	font-weight: bold
	margin: .3em 0em
	padding: .6em 1em

@mixin textShadow($x,$y,$color)
	text-shadow: $x $y $color

.btn-green-d
	@include btn($mint-green,$dark-green,$clouds)
	@include textShadow(1px, 1px, $dark-green)
	&:hover
		@include btn($dark-green,$mint-green,$clouds)

.btn-green-l
	@include btn($light-green,$green,$clouds)
	@include textShadow(1px, 1px, $green)
	&:hover
		@include btn($green,$light-green,$clouds)

.btn-blue
	@include btn($sky-blue,$navy-blue,$clouds)
	@include textShadow(1px, 1px, $navy-blue)
	&:hover
		@include btn($navy-blue,$sky-blue,$clouds)

.btn-purple
	@include btn($light-purple,$purple,$clouds)
	@include textShadow(1px, 1px, $purple)
	&:hover
		@include btn($purple,$light-purple,$clouds)

.btn-asphalt
	@include btn($wet-asphalt,$dark-blue,$clouds)
	&:hover
		@include btn($dark-blue,$wet-asphalt,$clouds)

.btn-yellow
	@include btn($yellow,$orange,$clouds)
	@include textShadow(1px, 1px, $orange)
	&:hover
		@include btn($orange,$yellow,$clouds)

.btn-carrot
	@include btn($carrot,$dark-orange,$clouds)
	&:hover
		@include btn($dark-orange,$carrot,$clouds)

.btn-red
	@include btn($red,$dark-red,$clouds)
	&:hover
		@include btn($dark-red,$red,$clouds)

.btn-clouds
	@include btn($clouds,$silver,$grey)
	&:hover
		@include btn($silver,$clouds,$clouds)

.btn-grey
	@include btn($grey,$dark-grey,$clouds)
	&:hover
		@include btn($dark-grey,$grey,$clouds)


// Btn outline
.btn-out-green-d
	@include btn(transparent,$dark-green,$dark-green)
	&:hover
		@include btn($dark-green,$dark-green,$clouds)

.btn-out-green-l
	@include btn(transparent,$green,$green)
	&:hover
		@include btn($green,$dark-green,$clouds)



@mixin btn-gradient($primary,$secundary)
	background : $primary
	background: -moz-linear-gradient(-45deg, $primary 0%, $secundary 100%)
	background: -webkit-linear-gradient(-45deg, $primary 0%,$secundary 100%)
	background: linear-gradient(135deg, $primary 0%,$secundary 100%)
	border-radius: 4px
	border: 1px solid #ffffff
	color: #ffffff
	cursor: pointer
	font-size: 16px
	font-weight: bold
	margin: .3em 0em
	padding: .6em 1em

.btn-g-green-d
	@include btn-gradient($mint-green,$dark-green)

.btn-g-green-l
	@include btn-gradient($light-green,$green)

.btn-g-blue
	@include btn-gradient($sky-blue,$navy-blue)

.btn-g-purple
	@include btn-gradient($light-purple,$purple)

.btn-g-asphalt
	@include btn-gradient($wet-asphalt,$dark-blue)

.btn-g-yellow
	@include btn-gradient($yellow,$orange)

.btn-g-carrot
	@include btn-gradient($carrot,$dark-orange)

.btn-g-clouds
	@include btn-gradient($clouds,$silver)

.btn-g-red
	@include btn-gradient($red,$dark-red)

.btn-g-grey
	@include btn-gradient($grey,$dark-grey)

// background: rgb(26,188,153)
// background: -moz-linear-gradient(-45deg, rgb(26,188,153) 0%, rgb(22,160,133) 100%)
// background: -webkit-linear-gradient(-45deg, rgb(26,188,153) 0%,rgb(22,160,133) 100%)
// background: linear-gradient(135deg, rgb(26,188,153) 0%,rgb(22,160,133) 100%)
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc99', endColorstr='#16a085',GradientType=1 )

