$mint-green : rgb(26, 188, 156)
$dark-green : rgb(22, 160, 133)

$light-green : rgb(46, 204, 113)
$green : rgb(39, 174, 96)

$sky-blue : rgb(52, 152, 219)
$navy-blue : rgb(41, 128, 185)

$light-purple : rgb(155, 89, 182)
$purple : rgb(142, 68, 173)

$wet-asphalt : rgb(52, 73, 94)
$dark-blue : rgb(44, 62, 80)

$yellow : rgb(241, 196, 15)
$orange : rgb(243, 156, 18)

$carrot : rgb(230, 126, 34)
$dark-orange : rgb(211, 84, 0)

$red : rgb(231, 76, 60)
$dark-red : rgb(192, 57, 43)

$clouds : rgb(236, 240, 241)
$silver : rgb(189, 195, 199)

$grey : rgb(149, 165, 166)
$dark-grey : rgb(127, 140, 141)
