/* Contenedor */
.container
	margin: 0 auto
	position: relative

/* Fila */
.row
	display: flex
	flex-wrap: wrap
	position: relative
	width: 100%

/* Alinear elementos horizontales */
.justify-start
	justify-content: flex-start
.justify-end
	justify-content: flex-end
.justify-center
	justify-content: center
.justify-between
	justify-content: space-between
.justify-around
	justify-content: space-around

/*Agrega un padding a la izquerda y derecha entre columnas */
.col
	padding: 0 1em

/*Medida columnas para smartphone*/
@media screen and (min-width: 0px)
	.container
		width: 95%
	.row
		flex-direction: colunm
	/*Tamaño de columnas*/
	.sm-1
		width: 8.333333333333333%
	.sm-2
		width: 16.66666666666667%
	.sm-3
		width: 25%
	.sm-4
		width: 33.33333333333333%
	.sm-5
		width: 41.66666666666667%
	.sm-6
		width: 50%
	.sm-7
		width: 58.33333333333333%
	.sm-8
		width: 66.66666666666666%
	.sm-9
		width: 75%
	.sm-10
		width: 83.33333333333333%
	.sm-11
		width: 91.66666666666666%
	.sm-12
		width: 100%
	/*Mover columas*/
	.sm-push-1
		width: 8.333333333333333%
	.sm-push-2
		width: 16.66666666666667%
	.sm-push-3
		width: 25%
	.sm-push-4
		width: 33.33333333333333%
	.sm-push-5
		width: 41.66666666666667%
	.sm-push-6
		width: 50%
	.sm-push-7
		width: 58.33333333333333%
	.sm-push-8
		width: 66.66666666666666%
	.sm-push-9
		width: 75%
	.sm-push-10
		width: 83.33333333333333%
	.sm-push-11
		width: 91.66666666666666%
	.sm-push-12
		width: 100%
	/*Margin top para columnas*/
	.sm-mt-1
		margin-top: 1em
	.sm-mt-2
		margin-top: 2em
	.sm-mt-3
		margin-top: 3em
	.sm-mt-4
		margin-top: 4em
	.sm-mt-5
		margin-top: 5em
	.sm-mt-6
		margin-top: 6em
	.sm-mt-7
		margin-top: 7em
	.sm-mt-8
		margin-top: 8em
	.sm-mt-9
		margin-top: 9em
	.sm-mt-10
		margin-top: 10em
	.sm-mt-11
		margin-top: 11em
	.sm-mt-12
		margin-top: 12em
	/*Margin bottom para columnas*/
	.sm-mb-1
		margin-bottom: 1em
	.sm-mb-2
		margin-bottom: 2em
	.sm-mb-3
		margin-bottom: 3em
	.sm-mb-4
		margin-bottom: 4em
	.sm-mb-5
		margin-bottom: 5em
	.sm-mb-6
		margin-bottom: 6em
	.sm-mb-7
		margin-bottom: 7em
	.sm-mb-8
		margin-bottom: 8em
	.sm-mb-9
		margin-bottom: 9em
	.sm-mb-10
		margin-bottom: 10em
	.sm-mb-11
		margin-bottom: 11em
	.sm-mtb-12
		margin-bottom: 12em
	/*Margin top - bottom para columnas*/
	.sm-mtb-1
		margin: 1em auto
	.sm-mtb-2
		margin: 2em auto
	.sm-mtb-3
		margin: 3em auto
	.sm-mtb-4
		margin: 4em auto
	.sm-mtb-5
		margin: 5em auto
	.sm-mtb-6
		margin: 6em auto
	.sm-mtb-7
		margin: 7em auto
	.sm-mtb-8
		margin: 8em auto
	.sm-mtb-9
		margin: 9em auto
	.sm-mtb-10
		margin: 10em auto
	.sm-mtb-11
		margin: 11em auto
	.sm-mtb-12
		margin: 12em auto

@media screen and (min-width: 768px)
	.container
		width: 95%
	.row
		flex-direction: row
	.md-1
		width: 8.333333333333333%
	.md-2
		width: 16.66666666666667%
	.md-3
		width: 25%
	.md-4
		width: 33.33333333333333%
	.md-5
		width: 41.66666666666667%
	.md-6
		width: 50%
	.md-7
		width: 58.33333333333333%
	.md-8
		width: 66.66666666666666%
	.md-9
		width: 75%
	.md-10
		width: 83.33333333333333%
	.md-11
		width: 91.66666666666666%
	.md-12
		width: 100%
	.md-push-1
		width: 8.333333333333333%
	.md-push-2
		width: 16.66666666666667%
	.md-push-3
		width: 25%
	.md-push-4
		width: 33.33333333333333%
	.md-push-5
		width: 41.66666666666667%
	.md-push-6
		width: 50%
	.md-push-7
		width: 58.33333333333333%
	.md-push-8
		width: 66.66666666666666%
	.md-push-9
		width: 75%
	.md-push-10
		width: 83.33333333333333%
	.md-push-11
		width: 91.66666666666666%
	.md-push-12
		width: 100%

@media screen and (min-width: 1024px)
	.container
		width: 75%
	.row
		flex-direction: row
	.lg-1
		width: 8.333333333333333%
	.lg-2
		width: 16.66666666666667%
	.lg-3
		width: 25%
	.lg-4
		width: 33.33333333333333%
	.lg-5
		width: 41.66666666666667%
	.lg-6
		width: 50%
	.lg-7
		width: 58.33333333333333%
	.lg-8
		width: 66.66666666666666%
	.lg-9
		width: 75%
	.lg-10
		width: 83.33333333333333%
	.lg-11
		width: 91.66666666666666%
	.lg-12
		width: 100%
	.lg-push-1
		width: 8.333333333333333%
	.lg-push-2
		width: 16.66666666666667%
	.lg-push-3
		width: 25%
	.lg-push-4
		width: 33.33333333333333%
	.lg-push-5
		width: 41.66666666666667%
	.lg-push-6
		width: 50%
	.lg-push-7
		width: 58.33333333333333%
	.lg-push-8
		width: 66.66666666666666%
	.lg-push-9
		width: 75%
	.lg-push-10
		width: 83.33333333333333%
	.lg-push-11
		width: 91.66666666666666%
	.lg-push-12
		width: 100%