/*
 * Variables tamaños
 */
$container-lg : 75%
$container-md : 95%
$container-sm : 95%

/*
 * Variables tamaños
 */
$size-1 : 8.333333333333333%
$size-2 : 16.66666666666667%
$size-3 : 25%
$size-4 : 33.33333333333333%
$size-5 : 41.66666666666667%
$size-6 : 50%
$size-7 : 58.33333333333333%
$size-8 : 66.66666666666666%
$size-9 : 75%
$size-10 : 83.33333333333333%
$size-11 : 91.66666666666666%
$size-12 : 100%

/*
 * Variables tamaños
 */
$paddin-column : .6em 1em

/*
 * Variables tamaños
 */
$spaceLargeTop: 2em
$spaceMediumTop: 1.5em
$spaceSmallTop: 1em
$spaceExtraSmallTop: .5em

$spaceLargeBottom: 2em
$spaceMediumBottom: 1.5em
$spaceSmallBottom: 1em
$spaceExtraSmallBottom: .5em

/*
 * Contenedor
 */
.container
	/*display: flex*/
	margin: 0 auto
	width: $container-lg

/*
 * Fila
 */
.row
	display: flex
	flex-direction: row
	flex-wrap: wrap
	position: relative
	width: 100%

/*
 * Alinear elementos horizontales
 */
.justify-start
	justify-content: flex-start
.justify-end
	justify-content: flex-end
.justify-center
	justify-content: center
.justify-between
	justify-content: space-between
.justify-around
	justify-content: space-around

/*
 * Equipos en adelante
 */
@media (min-width: 1024px)
	.container
		width: 75%
	.lg-1
		width: $size-1
		padding: $paddin-column
	.lg-2
		width: $size-2
		padding: $paddin-column
	.lg-3
		width: $size-3
		padding: $paddin-column
	.lg-4
		width: $size-4
		padding: $paddin-column
	.lg-5
		width: $size-5
		padding: $paddin-column
	.lg-6
		width: $size-6
		padding: $paddin-column
	.lg-7
		width: $size-7
		padding: $paddin-column
	.lg-8
		width: $size-8
		padding: $paddin-column
	.lg-9
		width: $size-9
		padding: $paddin-column
	.lg-10
		width: $size-10
		padding: $paddin-column
	.lg-11
		width: $size-11
		padding: $paddin-column
	.lg-12
		width: $size-12
		padding: $paddin-column
	.lg-push-1
		margin-left: $size-1
	.lg-push-2
		margin-left: $size-2
	.lg-push-3
		margin-left: $size-3
	.lg-push-4
		margin-left: $size-4
	.lg-push-5
		margin-left: $size-5
	.lg-push-6
		margin-left: $size-6
	.lg-push-7
		margin-left: $size-7
	.lg-push-8
		margin-left: $size-8
	.lg-push-9
		margin-left: $size-9
	.lg-push-10
		margin-left: $size-10
	.lg-push-11
		margin-left: $size-11
	.lg-push-12
		margin-left: $size-12
	.lg-order-1
		order: 1
	.lg-order-2
		order: 2
	.lg-order-3
		order: 3
	.lg-order-4
		order: 4
	.lg-order-5
		order: 5
	.lg-order-6
		order: 6
	.lg-order-7
		order: 7
	.lg-order-8
		order: 8
	.lg-order-9
		order: 9
	.lg-order-10
		order: 10
	.lg-order-11
		order: 11
	.lg-order-12
		order: 12
	.lg-topSpace
		margin-top: $spaceLargeTop
	.lg-bottomSpace
		margin-bottom: $spaceLargeBottom

/*
 * Tablets
 */
@media (min-width: 769px) and (max-width: 1023px)
	.container
		width: 95%
	.row
		flex-direction: row
	.md-1
		width: $size-1
		padding: $paddin-column
	.md-2
		width: $size-2
		padding: $paddin-column
	.md-3
		width: $size-3
		padding: $paddin-column
	.md-4
		width: $size-4
		padding: $paddin-column
	.md-5
		width: $size-5
		padding: $paddin-column
	.md-6
		width: $size-6
		padding: $paddin-column
	.md-7
		width: $size-7
		padding: $paddin-column
	.md-8
		width: $size-8
		padding: $paddin-column
	.md-9
		width: $size-9
		padding: $paddin-column
	.md-10
		width: $size-10
		padding: $paddin-column
	.md-11
		width: $size-11
		padding: $paddin-column
	.md-12
		width: $size-12
		padding: $paddin-column
	.md-push-1
		margin-left: $size-1
	.md-push-2
		margin-left: $size-2
	.md-push-3
		margin-left: $size-3
	.md-push-4
		margin-left: $size-4
	.md-push-5
		margin-left: $size-5
	.md-push-6
		margin-left: $size-6
	.md-push-7
		margin-left: $size-7
	.md-push-8
		margin-left: $size-8
	.md-push-9
		margin-left: $size-9
	.md-push-10
		margin-left: $size-10
	.md-push-11
		margin-left: $size-11
	.md-push-12
		margin-left: $size-12
	.md-order-1
		order: 1
	.md-order-2
		order: 2
	.md-order-3
		order: 3
	.md-order-4
		order: 4
	.md-order-5
		order: 5
	.md-order-6
		order: 6
	.md-order-7
		order: 7
	.md-order-8
		order: 8
	.md-order-9
		order: 9
	.md-order-10
		order: 10
	.md-order-11
		order: 11
	.md-order-12
		order: 12
	.md-topSpace
		margin-top: $spaceMediumTop
	.md-bottomSpace
		margin-bottom: $spaceLargeBottom
/*
 * Smartphone
 */
@media (min-width: 320px) and (max-width: 768px)
	.container
		width: 95%
	.row
		display: flex
		flex-direction: column
	.sm-1
		width: $size-1
		padding: $paddin-column
	.sm-2
		width: $size-2
		padding: $paddin-column
	.sm-3
		width: $size-3
		padding: $paddin-column
	.sm-4
		width: $size-4
		padding: $paddin-column
	.sm-5
		width: $size-5
		padding: $paddin-column
	.sm-6
		width: $size-6
		padding: $paddin-column
	.sm-7
		width: $size-7
		padding: $paddin-column
	.sm-8
		width: $size-8
		padding: $paddin-column
	.sm-9
		width: $size-9
		padding: $paddin-column
	.sm-10
		width: $size-10
		padding: $paddin-column
	.sm-11
		width: $size-11
		padding: $paddin-column
	.sm-12
		width: $size-12
		padding: $paddin-column
	.sm-push-1
		margin-left: $size-1
	.sm-push-2
		margin-left: $size-2
	.sm-push-3
		margin-left: $size-3
	.sm-push-4
		margin-left: $size-4
	.sm-push-5
		margin-left: $size-5
	.sm-push-6
		margin-left: $size-6
	.sm-push-7
		margin-left: $size-7
	.sm-push-8
		margin-left: $size-8
	.sm-push-9
		margin-left: $size-9
	.sm-push-10
		margin-left: $size-10
	.sm-push-11
		margin-left: $size-11
	.sm-push-12
		margin-left: $size-12
	.sm-order-1
		order: 1
	.sm-order-2
		order: 2
	.sm-order-3
		order: 3
	.sm-order-4
		order: 4
	.sm-order-5
		order: 5
	.sm-order-6
		order: 6
	.sm-order-7
		order: 7
	.sm-order-8
		order: 8
	.sm-order-9
		order: 9
	.sm-order-10
		order: 10
	.sm-order-11
		order: 11
	.sm-order-12
		order: 12
	.sm-topSpace
		margin-top: $spaceSmallTop
	.ex-sm
		margin-top: $spaceExtraSmallTop
	.sm-bottomSpace
		margin-bottom: $spaceLargeBottom
	.ex-sm
		margin-top: $spaceExtraSmallTop


@media (max-width: 320px)
	.container
		width: 100%
	.row
		flex-direction: column