#nav-button
	display: none

header
	background: #145b8a
	h1 
		color: #fff
.menu
	display: flex

.menu li.current-menu-item
	background: #114d75
	/*border-bottom: 2px solid red*/

.menu li > ul
	display: none

.menu li:hover > ul.sub-menu
	display: block

.menu li ul
	background: #114d75
	position: absolute
	width: 14%
	z-index: 9999

.menu li ul li
	position: relative

.menu li ul li ul
	top: 0
	left: 100%
	width: 100%

.menu li a
	color: #fff
	display: block
	padding: 1.2em .5em
	text-decoration: none

.menu li a:hover
	background: #10486d

.menu li a.active
	background: #0066cc

#nav-button
	background: #fff
	border-radius: 5px
	height: 30px
	position: absolute
	right: 1em
	top: .5em
	width: 30px

@media (min-width: 992px)
	.menu li:hover > ul.sub-menu
		display: block !important

@media (max-width: 991px)
	header
		position: relative

	header .container
		margin: 0
		width: 100%

	header .container .row
		padding: 0px 20px

	#nav-button
		background: transparent
		color: #fff
		display: block !important
		font-size: 24px

	.menu
		background: #0066cc
		bottom: 0
		display: block
		height: 100vh
		left: 100%
		min-height: 100vh
		opacity: 0.8
		overflow: hidden
		position: absolute
		right: 0
		top: 58px
		transition: 0.5s
		z-index: 10

	.show
		background: #0066cc
		bottom: 0
		display: block
		height: 100vh
		left: 20%
		min-height: 100vh
		opacity: 1
		overflow: visible
		position: absolute
		right: 0
		top: 58px
		z-index: 10

	.menu li > ul
		display: none
		padding-left: 20px

	.menu li ul li ul
		left: 0%

	.sub-menu-mobile
		padding-left: 30px

	.menu li ul
		background: #0066cc
		position: relative
		width: 100%

	.menu li:hover > ul.sub-menu
		display: none


