/*=== Títulos ===*/
$font-title : 'Roboto Slab', serif
$color-title : #333333

/*=== Párrafos ===*/
$font-paragraph : 'Open Sans', sans-serif
$color-paragraph : #4f4f4f

/*=== colores tomados de : https://flatuicolors.com/ ===*/

/*=== Tonos verdes ===*/
$green-light : #2ecc71
$green-dark : #27ae60

/*=== Tonos verdes alternativos ===*/
$green-alt-light : #1abc9c
$green-alt-dark : #16a085

/*=== Tonos azules ===*/
$blue-light : #3498db
$blue-dark : #2980b9

/*=== Tonos azules oscuros alternativo ===*/
$blue-alt-light : #34495e
$blue-alt-dark : #2c3e50

/*=== Tonos violetas ===*/
$violet-light : #9b59b6
$violet-dark : #8e44ad

/*=== Tonos amarillo y naranja ===*/
$yellow-light : #f1c40f
$yellow-dark : #f39c12

/*=== Tonos naranja ===*/
$orange-light : #e67e22
$orange-dark : #d35400

/*=== Tonos rojos ===*/
$red-light : #e74c3c
$red-dark : #c0392b

/*=== Tonos gris claro ===*/
$gray-light : #ecf0f1
$gray-dark : #bdc3c7

/*=== Tonos gris oscuro alternativo ===*/
$gray-atl-light : #95a5a6
$gray-atl-dark : #7f8c8d