@import _variables
@import _grid
@import _alerts
@import _buttons
@import _nav
@import _form
@import _typography
@import _slider

*
	border: 0
	margin: 0
	padding: 0
	box-sizing: border-box
	-webkit-box-sizing: border-box

html, body
	background: #fbfbfb
	color: $color-paragraph
	font-family: $font-paragraph
	font-size: 100%
	height: 100vh
	width: 100%

hr
	border: 1px solid #f1f1f1
	margin: 1em 0em

ol,
ul
	list-style: none

img,
video,
iframe
	max-width: 100%

img
	display: block

p
	margin: .8em 0

.box-example
	background: #fff
	border: 1px solid #e8e8e8