@import _variables
@import _grid
@import _nav
@import _form

*
	border: 0
	margin: 0
	padding: 0
	box-sizing: border-box
	-webkit-box-sizing: border-box

html, body
	color: $color-paragraph
	font-family: $font-paragraph
	font-size: 100%
	height: 100vh

h1,
h2,
h3,
h4,
h5,
h6
	color: $color-title
	font-family: $font-title

ol,
ul
	list-style: none

img,
video,
iframe
	max-width: 100%


.uno
	color: $orange-light
	background: $yellow-light

.dos
	color: $orange-dark
	background: $orange-light

.tres
	color: $red-dark
	background: $red-light

.cuatro
	color: $green-alt-dark
	background: $green-light

.cinco
	color: $green-alt-dark
	background: $green-alt-light

.seis
	color: $blue-dark
	background: $blue-light