* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  color: #4f4f4f;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  height: 100%;
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: "Roboto Slab", serif; }

ol,
ul {
  list-style: none; }

img,
video,
iframe {
  max-width: 100%; }

audio {
  border: 1px solid green; }

.block-height {
  margin: 1em 0em; }

.container {
  margin: 0 auto;
  width: 75%; }

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%; }

/* Alinear elementos horizontales
 */
.justify-cont-start {
  justify-content: flex-start; }

.justify-cont-end {
  justify-content: flex-end; }

.justify-cont-center {
  justify-content: center; }

.justify-cont-between {
  justify-content: space-between; }

.justify-cont-around {
  justify-content: space-around; }

/* Equipos en adelante
 */
@media (min-width: 1024px) {
  .container {
    width: 75%; }
    .container .row .lg-1 {
      width: 8.33333%;
      padding: 0em 0.5em; }
    .container .row .lg-2 {
      width: 16.66667%;
      padding: 0em 0.5em; }
    .container .row .lg-3 {
      width: 25%;
      padding: 0em 0.5em; }
    .container .row .lg-4 {
      width: 33.33333%;
      padding: 0em 0.5em; }
    .container .row .lg-5 {
      width: 41.66667%;
      padding: 0em 0.5em; }
    .container .row .lg-6 {
      width: 50%;
      padding: 0em 0.5em; }
    .container .row .lg-7 {
      width: 58.33333%;
      padding: 0em 0.5em; }
    .container .row .lg-8 {
      width: 66.66667%;
      padding: 0em 0.5em; }
    .container .row .lg-9 {
      width: 75%;
      padding: 0em 0.5em; }
    .container .row .lg-10 {
      width: 83.33333%;
      padding: 0em 0.5em; }
    .container .row .lg-11 {
      width: 91.66667%;
      padding: 0em 0.5em; }
    .container .row .lg-12 {
      width: 100%;
      padding: 0em 0.5em; }
    .container .row .lg-push-1 {
      margin-left: 8.33333%; }
    .container .row .lg-push-2 {
      margin-left: 16.66667%; }
    .container .row .lg-push-3 {
      margin-left: 25%; }
    .container .row .lg-push-4 {
      margin-left: 33.33333%; }
    .container .row .lg-push-5 {
      margin-left: 41.66667%; }
    .container .row .lg-push-6 {
      margin-left: 50%; }
    .container .row .lg-push-7 {
      margin-left: 58.33333%; }
    .container .row .lg-push-8 {
      margin-left: 66.66667%; }
    .container .row .lg-push-9 {
      margin-left: 75%; }
    .container .row .lg-push-10 {
      margin-left: 83.33333%; }
    .container .row .lg-push-11 {
      margin-left: 91.66667%; }
    .container .row .lg-push-12 {
      margin-left: 100%; } }
/* Tablets
 */
@media (min-width: 769px) and (max-width: 1023px) {
  .container {
    width: 95%; }
    .container .row .md-1 {
      width: 8.33333%;
      padding: 0em 0.5em; }
    .container .row .md-2 {
      width: 16.66667%;
      padding: 0em 0.5em; }
    .container .row .md-3 {
      width: 25%;
      padding: 0em 0.5em; }
    .container .row .md-4 {
      width: 33.33333%;
      padding: 0em 0.5em; }
    .container .row .md-5 {
      width: 41.66667%;
      padding: 0em 0.5em; }
    .container .row .md-6 {
      width: 50%;
      padding: 0em 0.5em; }
    .container .row .md-7 {
      width: 58.33333%;
      padding: 0em 0.5em; }
    .container .row .md-8 {
      width: 66.66667%;
      padding: 0em 0.5em; }
    .container .row .md-9 {
      width: 75%;
      padding: 0em 0.5em; }
    .container .row .md-10 {
      width: 83.33333%;
      padding: 0em 0.5em; }
    .container .row .md-11 {
      width: 91.66667%;
      padding: 0em 0.5em; }
    .container .row .md-12 {
      width: 100%;
      padding: 0em 0.5em; }
    .container .row .md-push-1 {
      margin-left: 8.33333%; }
    .container .row .md-push-2 {
      margin-left: 16.66667%; }
    .container .row .md-push-3 {
      margin-left: 25%; }
    .container .row .md-push-4 {
      margin-left: 33.33333%; }
    .container .row .md-push-5 {
      margin-left: 41.66667%; }
    .container .row .md-push-6 {
      margin-left: 50%; }
    .container .row .md-push-7 {
      margin-left: 58.33333%; }
    .container .row .md-push-8 {
      margin-left: 66.66667%; }
    .container .row .md-push-9 {
      margin-left: 75%; }
    .container .row .md-push-10 {
      margin-left: 83.33333%; }
    .container .row .md-push-11 {
      margin-left: 91.66667%; }
    .container .row .md-push-12 {
      margin-left: 100%; } }
/* Smartphone
 */
@media (min-width: 320px) and (max-width: 768px) {
  .container {
    width: 95%; }
    .container .row {
      display: block; }
      .container .row .sm-1 {
        width: 8.33333%;
        padding: 0em 0.5em; }
      .container .row .sm-2 {
        width: 16.66667%;
        padding: 0em 0.5em; }
      .container .row .sm-3 {
        width: 25%;
        padding: 0em 0.5em; }
      .container .row .sm-4 {
        width: 33.33333%;
        padding: 0em 0.5em; }
      .container .row .sm-5 {
        width: 41.66667%;
        padding: 0em 0.5em; }
      .container .row .sm-6 {
        width: 50%;
        padding: 0em 0.5em; }
      .container .row .sm-7 {
        width: 58.33333%;
        padding: 0em 0.5em; }
      .container .row .sm-8 {
        width: 66.66667%;
        padding: 0em 0.5em; }
      .container .row .sm-9 {
        width: 75%;
        padding: 0em 0.5em; }
      .container .row .sm-10 {
        width: 83.33333%;
        padding: 0em 0.5em; }
      .container .row .sm-11 {
        width: 91.66667%;
        padding: 0em 0.5em; }
      .container .row .sm-12 {
        width: 100%;
        padding: 0em 0.5em; }
      .container .row .sm-push-1 {
        margin-left: 8.33333%; }
      .container .row .sm-push-2 {
        margin-left: 16.66667%; }
      .container .row .sm-push-3 {
        margin-left: 25%; }
      .container .row .sm-push-4 {
        margin-left: 33.33333%; }
      .container .row .sm-push-5 {
        margin-left: 41.66667%; }
      .container .row .sm-push-6 {
        margin-left: 50%; }
      .container .row .sm-push-7 {
        margin-left: 58.33333%; }
      .container .row .sm-push-8 {
        margin-left: 66.66667%; }
      .container .row .sm-push-9 {
        margin-left: 75%; }
      .container .row .sm-push-10 {
        margin-left: 83.33333%; }
      .container .row .sm-push-11 {
        margin-left: 91.66667%; }
      .container .row .sm-push-12 {
        margin-left: 100%; } }
header {
  background: #f2f2f2;
  border: 1px solid #f4f4f4;
  width: 100%; }

.brand {
  background: #a91818;
  border-radius: 50%;
  height: 60px;
  width: 60px; }

.menu {
  position: absolute; }

#menu {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  #menu ul {
    display: flex; }
    #menu ul a {
      display: block;
      padding: 15px 8px;
      text-decoration: none; }

@media (max-width: 768px) {
  #menu {
    display: block; }
    #menu ul {
      display: block;
      width: 100%; }
      #menu ul li {
        text-align: center;
        border-bottom: 1px solid rgba(199, 199, 199, 0.2);
        width: 100%; }
        #menu ul li a {
          padding: 15px 0px; }

  #nav-mobile {
    color: #333333;
    font-size: 1.4em;
    position: absolute;
    top: 0.7em;
    right: 1em; } }
@media (min-width: 769px) {
  #nav-mobile {
    display: none; } }
input {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  color: #4d4d4d;
  padding: 6px 8px;
  width: 100%; }

.label-input {
  margin: 1em 0em; }
  .label-input label {
    padding: 5px 8px; }
  .label-input .strong-label {
    font-weight: bold; }

.line-bottom {
  border: 0;
  border-bottom: 1px solid #e4e4e4;
  color: #4f1275;
  border-radius: 0; }
  .line-bottom:focus {
    border: 0;
    border-bottom: 1px solid #4f1275;
    outline: 0; }

/*# sourceMappingURL=main.css.map */
